label: Geo_punto
layer: geo_punto
type: auto
widgets:
- config:
    max: ''
    min: ''
    prefix: ''
    suffix: ''
  field: pkuid
  hidden: false
  name: id
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number
- config: {}
  field: nota
  hidden: false
  name: nota
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Text
- config:
    defaultlocation: ''
    savetofile: false
  field: foto_1
  hidden: false
  name: foto_1
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Image
- config:
    defaultlocation: ''
    savetofile: false
  field: foto_2
  hidden: false
  name: foto_2
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Image
- config:
    defaultlocation: ''
    savetofile: false
  field: foto_3
  hidden: false
  name: foto_3
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Image
- config: {}
  field: file
  hidden: false
  name: file
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: File
